<%= form_with(model: restaurant, local: true) do |form| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :restaurant_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :restaurant_address %>
  </div>

  <div class="field">
    <%= form.label :accepts_10_bis %>
    <%= form.check_box :accepts_10_bis, id: :restaurant_accepts_10_bis %>
  </div>

  <div class="field">
    <%= form.label :cuisine_id %>
    <%= form.number_field :cuisine_id, id: :restaurant_cuisine_id %>
  </div>

  <div class="field">
    <%= form.label :kosher %>
    <%= form.check_box :kosher, id: :restaurant_kosher %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
