<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Accepts 10 bis:</strong>
  <%= @restaurant.accepts_10_bis %>
</p>

<p>
  <strong>Cuisine:</strong>
  <%= @restaurant.cuisine_id %>
</p>

<p>
  <strong>Kosher:</strong>
  <%= @restaurant.kosher %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
